{% include 'mainapp/sidebar.html' %}
<div class="home-section">
  <div class="header">
    <h1>Add an Assignment</h1>
    <h6>Click to Edit Bar Color for {{className}}</h6>
  </div>
  <form action="{% url 'change_color' className=className %}" method="post">
    {% csrf_token %}
    <input onclick="colorChosen()" type="color" name="colorpicker" value="{{ CLASS_COLOR }}">
    <button type="submit" class="hiddenButton">Change Color</button>
    </input>
  </form>
  <a href="{% url 'upload_schedule' className=className %}">
    <button
      style="font-size: 24; border: none; width: 18rem; height: 4rem; background-color: rgb(135, 163, 255); color: white; border-radius:40px;"><i
        class='bx bx-file'></i> Upload a CSV of Assignments</button>
  </a>
  <form action="{% url 'add_assignment' className=className %}" method="post">
    {% csrf_token %}
    <table class="d-flex justify-content-center p-3" style="color: black">
      {{ form }}
    </table>
    <div class="d-flex justify-content-center p-3">
      <input type="submit" value="Submit" style="border-radius: 7px; border-color: black;">
    </div>
  </form>
</div>