{% include 'mainapp/sidebar.html' %}
<div class="home-section">
    <div class="header">
        <h1>Upload a Schedule for {{ className }}</h1>
        <h6>Click to Edit Bar Color for {{ className }}</h6>
    </div>
    <form action="{% url 'change_color' className=className %}" method="post">
        {% csrf_token %}
        <input onclick="colorChosen()" type="color" name="colorpicker" value="{{ CLASS_COLOR }}">
        <button type="submit" class="hiddenButton">Change Color</button>
        </input>
    </form>
    <div
        style="text-align: left; border-radius:20px; background-color:antiquewhite; width:max-content;padding:20px;margin:auto;">
        <div>
            Upload a Syllabus in CSV Format (.txt, and .csv both work) in the following format:
        </div>
        <div>
            assignment name (ex. homework 1), YYYY-MM-DD (ex. 2021-10-20), number of hours expected to complete (ex. 4)
        </div>
        <div>
            assignment name (ex. homework 2), YYYY-MM-DD (ex. 2021-10-21), number of hours expected to complete (ex. 10)
        </div>
    </div>
    {% block content %}
    <form action="{% url 'upload_schedule' className=className %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="d-flex justify-content-center p-3" style="color: black">
            {{ form }}
        </table>
        <div class="d-flex justify-content-center p-3">
            <input type="submit" value="Submit" style="border-radius: 7px; border-color: black;">
        </div>
    </form>
    {% endblock %}
</div>